.grid-container {
  display: grid;
  /*border: 0.5px solid grey;*/
  grid-template-columns: repeat(100, 1fr);
  background-color: white;
  width: 75%;
  /*position: static;*/
  /*padding-left: 12%;*/
  /*padding-right: 12%;*/
  /*align-items: center;*/
  /*height: 100%;*/

}
.on {
  background-color: green;
}
.off {
  background-color: red;
}
.dead {
  background-color: white;
}
.alive {
  background-color: black;
}

.grid-item {
  border: 0.5px solid grey;
  width: 100%;
  padding-bottom: 100%;
}
#onOffSign {
  border: 0.5px solid grey;
  width: 10px;
  height: 10px;
  /*padding-bottom: 100%;*/
}
